//fonts
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');


//colors

$color-grey-0:rgba(255,255,255,1);
$color-grey-5: rgba(248, 250, 249, 1);
$color-grey-10: rgba(241, 243, 242, 1);
$color-grey-20: rgba(218, 221, 219, 1);
$color-grey-40: rgba(150, 153, 151, 1);
$color-grey-60: rgba(110, 112, 111, 1);
$color-grey-80: rgb(70, 64, 72);

$color-green-20:rgba(156, 210, 168, 1);
$color-green-60:rgba(35,135,64,1);
$color-green-80:rgba(8,87,35,1);


$space-0: 0;
$space-5: 8px;
$space-10: 16px;
$space-20: 24px;
$space-40: 40px;
